trakt:
  account: <traktusername>

paths:
  # Paths should be absolute full paths if not using syno-dl.sh
  # Otherwise should be starting from a shared folder onwards
  movies: <Path>
  tv:  <Path>

join:
  api_key: <Join API Key>